@import "partials/_base";

.logo{
    font-size:1rem;
    padding:0 2rem;
    @include mq(769){
        padding:0 4rem;
    }
    margin-top:1rem;
}

form{
    @include flexColumn();
    justify-items: center;
    justify-content: center;
    margin:150px 0;
    label, input{
        display: block;
    }
    label{
        font-size:0.8rem;
    }
    input{
        width:180px;
        padding:0.2rem;
        margin-bottom:0.3rem;
        @include mq(769){
            width:240px;
        }
    }
    button{
        margin-top:0.8rem;
        background-color:$accentColor;
        color:white;
        border:none;
        outline: none;
        padding:0.2rem 0;
        width:180px;
        cursor: pointer;
        @include mq(769){
            width:240px;
        }
    }
    p{
        font-size:0.7rem;
        word-spacing: 0.03rem;
        margin-top:0.4rem;
        @include mq(769){
            font-size:0.75rem;
        }
        a{
            color:#285C97;
            &:hover{
                color:#317ace
            }
        }
    }
}