<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
        <link rel="stylesheet" href="/css/auth.min.css">
        <title>Document</title>
    </head>
    <body>
        <div>
          <a href="/">
            <h1 class="logo">Function ( )</h1>
          </a>
        </div>
        <main>
            <!--
            <form action="/auth/login/github">
              <div>
                <label for="name">User name</label>
                <input type="text" id="name" name="name">
              </div>
              <div>
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email">
              </div>
              <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="password">
              </div>
                <button type="submit">Login</button>
                <p>have an account? <a href="/auth/login">login</a></p>
            </form>
            -->
            <div class="githubAuth auth"><i class="fab fa-github"></i>
              <a href="/auth/github">Sign up with Github</a></div>
            <p>Don't have an account? <a href="/auth/login">Sign in</a></p>
      </main>
    </body>
</html>